language: go
go:
  - 1.7
env:
  - "PATH=/home/travis/gopath/bin:$PATH"
before_install:
  - go get -u github.com/kardianos/govendor
  - go get github.com/golang/lint/golint
  - go get github.com/mattn/goveralls
  - govendor sync
script:
  - go vet 
  - golint -set_exit_status
  - go test -race -v
  - $HOME/gopath/bin/goveralls -ignore main.go -v -service=travis-ci
